*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.botones{
    margin-top: 20px;
    margin-right: 20;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#btn_iniciar {
    color: white;
    background-color: #263193;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 400ms ease;
    text-decoration: none;
}

#btn_iniciar:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#btn_registro{
    color: #fff;
    background-color: #029d56;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 400ms ease;
}

#btn_registro:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

nav{
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    font-size: 20px;
    margin-top: 50px;
    z-index: 1000;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.submenu{

    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.menu li:hover .submenu{
    display: block;
}

.submenu li:hover{
    background-color: black;
}

.submenu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

#slogan{
    width: 100%;
    margin-top: 30px;
    background-color: #263193;
    color: #fff;
    text-align: center;
    padding: 30px
}

/*CARRUSEL DE IMAGENES*/

.slider-box{
    width: 1280px;
    height: auto;
    margin: 0px auto 0;    
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto{
    position: absolute;
    text-align: left;
    padding: 0 250px;
    top: 250px;
    color: black;
}

.texto p{
    font-size: 30px;
}

.texto h2{
    font-size: 25px;
    margin-bottom: 35px;
}

.slider-box img{
    width: 100%;
}
.texto button{
    font-size: 25px;
    color: #fff;
    background-color: #029d56;
    margin-top: 25px;
    border-radius: 40px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}

@media(max-width:991px){

    body{
        padding: 30px;
    }

    .slider-box{
        width: 100%;
    }

    .texto{
        top: 50px;
        padding: 0;
    }

    .texto h2{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p{
        font-size: 15px;
    }
}

#opciones_destacadas {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 30px 0;
    gap: 25px; 
    padding: 25px;
    background-color: #eeeeee; /*CAMBIAR EL FONDO*/
}

#pregunta {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.blue {
    color: #263193;
}

.option_today {
    font-size: 20px;
    text-align: center;     
    background-color: #ffffffa1;
    width: 300px;
    height: 220px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px;
}

.option_today:hover {
    background-color: #ffffff;  
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);;
}

.option_today img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
}

.container_cards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1100px;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}

.card img{
    margin-top: 17px;
    width: 110px;
    height: 110px;
}

.card .contenido_cards{
    padding: 15px;
    text-align: center;
}

.card .contenido_cards p{
    font-size: 20px;
    line-height: 1.5;
    color: #029d56;
}

.card .contenido_cards h3{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido_cards a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #263193;
    border: 1px solid;
    border-radius: 5px;
    transition: all 400ms ease;
}

.card .contenido_cards a:hover{
    background-color: #263193;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #fff;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 10px;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(85, 85, 85);
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: black;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all .5s ease;
}
